.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 92px auto 0;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column: 12px;
        margin-top: 64px;
    }
}
