.places {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  grid-gap: 80px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media (max-width: 550px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .places {
    grid-gap: 50px;
    margin-top: 64px;
    padding: 0;
  }
}
