.lead {
    max-width: 984px;
    margin: 56px auto 0;
}

@media all (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media all (max-width: 425px) {
    .lead {
        max-width: 320px;
    }
}
