.lead {
    max-width: 984px;
    margin: 56px auto 0;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        max-width: 320px;
        margin-top: 48px;
    }
}
