.lead__title {
    color: #ffffff;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
    line-height: 100px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto 32px auto;
}

@media screen and (max-width: 425px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}
