.header__settings {
    color: #ffffff;
    background: inherit;
    border-radius: 14px;
    border: none;
    margin-left: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    justify-content: center;
    outline: none;
  }

  .header__settings:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  @media screen and (max-width: 425px) {
    .header__settings {
      font-size: 20px;
      line-height: 25px;
    }
  }
