.place__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    margin: 0 auto 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0 16px;
    }
}
