.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    min-height: 740px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./../../../images/cover__background.jpg);
    background-size: cover;
    text-decoration: none;
    margin: 92px auto 0;
}

.cover__background:hover {
    opacity: 0.3;
}
