.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    text-decoration: none;
    margin: 92px auto 0;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./../../../images/cover__background.jpg);
}

.cover__background:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}
