.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    text-decoration: none;
    max-width: 560px;
    margin: 0;
    color: #ffffff;
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 16px;
    }
}
