.footer {
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    margin: 92px auto 0;
    padding-bottom: 24px;
}

@media screen and (max-width: 425px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 64px auto 0;
        padding-bottom: 24px;
    }
}
