.place__description {
    display: grid;
    grid-gap: 26px;
    grid-template-rows: max-content;
}

@media screen and (max-width: 768px) {
  .place__description {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .place__description {
    grid-gap: 25px;
    margin: 0 auto;
  }
}
