.intro__description {
    max-width: 984px;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .intro__description {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
    .intro__description {
        max-width: 720px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .intro__description {
        max-width: 288px;
        margin: 64px auto 0;
    }
}
