.place__website {
    display: grid;
    grid-template-rows: 1fr;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 425px) {
    .place__website {
        max-width: 288px;
    }
}
